.navbar-brand {
  font-family: helvetica;
  font-weight: 900;
  font-size: 25px !important;
  color:  rgb(25, 145, 250)  !important;
  text-align: center;
}

/* .signup {
  background: rgb(24,102,189);
  background: linear-gradient(52deg, rgba(24,102,189,0.8435749299719888) 0%, rgba(21,142,245,0.7847514005602241) 34%, rgba(4,194,232,0.8799894957983193) 89%);
  color:  white;
  height: 100%;
  text-align: center;

} */
