.addClass .box {
    display: flex;
    flex-direction: row;
    align-items: unset;
    padding: 10px 10%; 
}

.addClass .box > div:first-child {
    flex-basis:26%;  
}

.addClass .box__center {
    justify-content: center;
    background-color: #26A6FF2B;
    padding: 10px 60px 8px;
    border-radius: 15px;
    width: 50%;
}

.button.button--add-class {
    outline: 0;
    border: 0;
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 600;
    background-color: #26A6FF;
    color: white;
}

.button.button--add-class:hover {
    background-color: #0a86f8;
}

.addClass .form-group {
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0.8rem;
    color: #3da2ff;
}

.addClass .form-control {
    border-radius: 25px;
    margin-bottom:15px;
}

.addClass .name {
    font-size: 15px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom:15px;
    color: #26A6FF;
}

