body {
  background-image: url(/AllocationApp/client/src/components/background.jpg);
}

.navbar-brand {
  font-family: helvetica;
  font-weight: 800 !important;
  font-size: 22px !important;
  color: #3da2ff !important;
  text-align: center;
}

.navbar {
  width: 100%;
  position: fixed !important;
  height: 10%;
  background: white;
  z-index: 10;
}

.signup .col-lg-5 {
  width: 200px;
}

.signup {
  padding-top: 10%;
}

.signup .form-group {
  font-size: 15px !important;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: gray;
}

#signin {
  padding-top: 30%;
}

.form-control {
  font-size: 0.8rem !important;
}

.btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: 600px !important;
}

.font-weight {
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: #3da2ff;
  font-weight: 600 !important;
  font-size: 25px;
}

.signinh1 {
  text-align: center !important;
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: #3da2ff;
  font-weight: 600 !important;
  font-size: 25px;
}

.col-sm-5 {
  padding-left: 50px !important;
}

.btn {
  margin-top: 20px;
  font-weight: 600px !important;
}

.title {
  padding-left: 50px;
}

.row {
  padding-top: 2%;
  padding-bottom: 30px;
}

.col {
  z-index: 0;
}

.name {
  margin-right: 5px;
}

.password {
  margin-right: 5px;
  padding-bottom: 4px;
}

.lock {
  padding-bottom: 5px;
}

.signuppic {
  padding-top: 40px;
}

.account {
  color: gray;
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  flex-direction: row;
  justify-content: center;
}
.button-container a:last-child {
  margin-left: 15px;
}

.adminstbutton-container {
  width: 150px;
}
.piccontainer {
  position: relative;
}

.text-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.fontgradon {
  font-size: 100px;
  font-weight: bold;
}

.fontauto {
  font-family: Helvetica;
  font-size: 32px;
}

.title-container {
  margin-bottom: 70px;
}

.footer {
  width: 100%;
  position: fixed !important;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* 
.container {
  /* margin-bottom: 30%; */
/* margin-top: 15%; */

#table {
  background-color: white;
  border-radius: 25px;
  margin-bottom: 50px;
  padding-top: 100px;
}

th {
  padding: 30px;
  text-align: center !important;
}

#tdclass {
  text-align: center !important;
  padding-bottom: 15px !important;
  height: 25px;
  padding-top: 15px;
}

#tdclas {
  justify-content: center;
  text-align: center;
}

#classbtn {
  width: 80%;
  margin-left: 15%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 10px !important;
  background-color: #26a6ff !important;
}
.algobtn {
  width: 90%;
  margin-left: 15%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 10px !important;
  background-color: #1984d1 !important;
}

#projectbtn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 10px !important;
  background-color: #26a6ff !important;
}

#column {
  margin-top: 18%;
  padding-bottom: 40px;
  padding-right: 50px;
  padding-top: 20px;
  padding-left: 50px;
  background-color: rgba(38, 166, 255, 0.17);
  border-radius: 25px;
}

#edit {
  margin-left: 30px;
  height: 20px;
}

#del {
  height: 20px;
}

#icon {
  border-color: white !important;
  background-color: transparent;
  border-width: 0;
}

h2 {
  color: #26a6ff !important;
  font-weight: 500 !important;
  padding-left: 20px;
  text-align: center;
}

#back {
  position: absolute;
  left: 10%;
  top: 15%;
  color: #26a6ff !important;
  font-weight: 500 !important;
  padding-bottom: 50px;
  display: flex;
}

.adminstfontgradon {
  top: 178px;
  left: 862px;
  width: 303px;
  height: 60px;
  font-size: 40px;
  font-weight: bold;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    50px/61px var(--unnamed-font-family-helvetica-neue);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 50px/61px Helvetica Neue;
  letter-spacing: 0px;
  color: #26a6ff;
  opacity: 1;
}

.adminstfontauto {
  top: 254px;
  left: 917px;
  width: 193px;
  height: 23px;
  font-family: Helvetica;
  font-size: 32px;
  font: var(--unnamed-font-style-normal) normal normal 20px/24px
    var(--unnamed-font-family-helvetica-neue);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 20px/24px Helvetica Neue;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.backgroundbox {
  position: absolute;
  background-color: #5ba3d677;
  left: 570px;
  top: 390px;
  width: 790px;
  height: 464px;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  opacity: 1;
}

.backgroundboxaddy {
  position: absolute;
  background-color: #5ba3d677;
  left: 25%;
  right: 25%;
  width: 50%;
  height: 24%;
  border-radius: 25px;
  opacity: 1;
  padding: 7%;
}

.backgroundwhitebox {
  position: absolute;
  background-color: #ebeff1;
  left: 395px;
  top: 230px;
  width: 720px;
  height: 410px;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  opacity: 1;
}

.backgroundwhiteboxaddy {
  position: absolute;
  background-color: #ebeff1;
  width: 75%;
  height: fit-content;
  border-radius: 25px;
  opacity: 1;
  margin-top: -9%;
  padding-top: 4%;
}

svg {
  padding-bottom: 7px;
}

#navbtn {
  margin-bottom: 20px !important;
}

.clr {
  color: #26a6ff;
}
.txt {
  font-size: 28px;
  color: #26a6ff;
  font-weight: 700;
}
.clr1 {
  color: #26a6ff;
  font-weight: 650;
  font-size: 20px;
}
.bg-frm {
  background-color: #3da2ff;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 25px;
}
.tp {
  margin-top: 10px;
}
.lbl {
  color: white;
  font-weight: 650;
}

#body {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}

.img-fluid {
  width: 100%;
  height: 1100px !important;
}

h6 {
  margin-left: 15px;
  color: rgb(61, 61, 61);
  font-weight: 400 !important;
}
