body {
  background-image: url(/AllocationApp/client/src/components/background.jpg);
}

.navbar-brand {
  font-family: helvetica;
  font-weight: 800 !important;
  font-size: 22px !important;
  color: #3da2ff !important;
  text-align: center;
}

.navbar {
  width: 100%;
  position: fixed !important;
  height: 10%;
  background: white;
  z-index: 10;
}

.signup .col-lg-5 {
  width: 200px;
}

.signup .form-group {
  font-size: 15px !important;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: gray;
}

#signin {
  padding-top: 20%;
}

.form-control {
  font-size: 0.8rem !important;
}

.btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: 600px !important;
}

.font-weight {
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: #3da2ff;
  font-weight: 600 !important;
  font-size: 25px;
}

.signinh1 {
  text-align: center !important;
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: #3da2ff;
  font-weight: 600 !important;
  font-size: 25px;
}

.col-sm-5 {
  padding-left: 50px !important;
}

.btn {
  margin-top: 20px;
  font-weight: 600px !important;
}

.title {
  padding-left: 50px;
}

.row {
  padding-top: 2%;
  padding-bottom: 30px;
}

.col {
  z-index: 0;
}

.name {
  margin-right: 5px;
}

.password {
  margin-right: 5px;
  padding-bottom: 4px;
}

.lock {
  padding-bottom: 5px;
}

.signuppic {
  padding-top: 40px;
}

.account {
  color: gray;
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  flex-direction: row;
  justify-content: center;
}
.button-container a:last-child {
  margin-left: 15px;
}

.piccontainer {
  position: relative;
}

.text-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.fontgradon {
  font-size: 100px;
  font-weight: bold;
}

.fontauto {
  font-family: Helvetica;
  font-size: 32px;
}

.title-container {
  margin-bottom: 70px;
}

.footer {
  width: 100%;
  position: fixed !important;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container {
  margin-bottom: 30%;
  /* margin-top: 15%; */
}

#table {
  background-color: white;
  border-radius: 25px;
  margin-bottom: 50px;
  padding-top: 100px;
}

th {
  padding: 30px;
  text-align: center !important;
}

#tdclass {
  text-align: center !important;
  padding-bottom: 15px !important;
  height: 25px;
  padding-top: 15px;
}

#classbtn {
  width: 70%;
  margin-left: 15%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 10px !important;
  background-color: #26a6ff !important;
}

#column {
  margin-top: 18%;
  padding-bottom: 40px;
  padding-right: 50px;
  padding-top: 20px;
  padding-left: 50px;
  background-color: rgba(38, 166, 255, 0.17);
  border-radius: 25px;
}

#edit {
  margin-left: 30px;
  height: 20px;
}

#del {
  height: 20px;
}

#icon {
  border-color: white !important;
  background-color: white;
  border-width: 0;
}

h2 {
  color: #26a6ff !important;
  font-weight: 500 !important;
  padding-left: 20px;
  text-align: center;
}

#back {
  position: absolute;
  left: 10%;
  top: 15%;
  color: #26a6ff !important;
  font-weight: 500 !important;
  padding-bottom: 50px;
  display: flex;
}

svg {
  padding-bottom: 7px;
}

#navbtn {
  margin-bottom: 20px !important;
}
